@font-face {
  font-family: 'SuttonSignWritingLine';
  src: url('/fonts/SuttonSignWritingLine.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SuttonSignWritingFill';
  src: url('/fonts/SuttonSignWritingFill.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SuttonSignWritingOneD';
  src: url('/fonts/SuttonSignWritingOneD.ttf') format('truetype');
  font-display: swap;
}

fsw-sign {
  font-family: 'SuttonSignWritingLine', 'SuttonSignWritingFill', 'SuttonSignWritingOneD', sans-serif !important;
}

fsw-sign * {
  font-family: 'SuttonSignWritingLine', 'SuttonSignWritingFill', 'SuttonSignWritingOneD', sans-serif !important;
}

fsw-sign svg {
  font-family: 'SuttonSignWritingLine', 'SuttonSignWritingFill', 'SuttonSignWritingOneD', sans-serif !important;
}

fsw-sign text {
  font-family: 'SuttonSignWritingLine', 'SuttonSignWritingFill', 'SuttonSignWritingOneD', sans-serif !important;
}
